body {
    background-color: #ced0d238;
}
.div {        background-color: white;
/* font-family: arial; */

font-size: 50px;
vertical-align: middle;
text-align: center;
color: #d333a3;
letter-spacing: 0.5rem;
font-weight: 00;
border-left: 6px solid;
border-right: 6px solid;
min-width: 30%;
margin: 10px;
border-radius: 0.4em;
}
body {
    margin: 0px;

}
.text h3 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    margin: 19.5% 5px;
}
#flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
}
@media (max-width:640px) {
    .div {
        color: #33c2d3;
    }
}
.header {
    margin: 0px;
    float: left;
    display: flex;
}

ul li{
      display: inline;
      
}
.nav a {
    background-color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none ;
    border-width: 0%;
    border-bottom: 2px solid white;
    color: #303841 !important;
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    transition: border-bottom 0.25s ease-in-out;
}
header {
    background-color:white;
    display: block;
    height: 80px;
}
.png {
    width: 80px;
    
}
.nav {
    margin-top: 15px;
    float: right;
    display: flex;
    margin-right: 15px;
}
.nav a:hover {
    border-bottom: 2px solid #303841;
   border-width: 100%;
}
#main-link a{
      background-color: #303841;
      padding: 10px 30px;
      color: white !important;
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
      font-size: 20px;
      
      border-radius: 0.6em;
}
#main-link {
    margin: auto;
margin-left: 60px;
margin-right: 20px;
}
span {
    font-family: 'Montserrat', sans-serif;
    margin-top: 29px;
    font-size: 20px;
    font-weight: bolder;
}
#dots {
    display: inline;
height: 30px;
float: right;
display: none;
/* margin-top: 25px; */
margin: 25px 20px;

}
#responsiveness {
position: fixed;
top: 25%;
left: 50%;
width: 80%;
display: none;
background-color:white;
border-radius: 0.6em;
margin-top: -50px;
margin-left: -40%;

}
#responsiveness li {
display: block;
text-align: center;
}
#responsiveness a {
padding: 10px;
display: block;
background-color: white;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none ;
    border-width: 0%;
    border-bottom: 2px solid white;
    color: #303841 !important;
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    transition: border-bottom 0.25s ease-in-out;
color: white;
margin: 10px;
border-radius: 0.5em;

display: block;
}
#responsiveness ul {
padding: 0px;

list-style-type: none;
margin: 0px;
}

.img {
   width: 50%;

}

.aim {
      height: 450px;
}
#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(5, 0, 0, 0.74);
    overflow: hidden;
display: none;
transition: ease-in-out 0.2s;
}
#responsiveness #main-link a{
    border: 2px solid #035;
    text-align: center;
}
.section {
    display: flex;
}


@media (max-width: 920px) {
    .nav {
        display: none;
        
    }
   .img {
       display: none;
   }
    #dots {
        display: block;
    }
}